body {
    font-family: 'Work Sans', sans-serif;
}

/**header desgin**/
.header-section{
    padding: 216px;
    text-align: right;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.content{
    width: 50%;
}
.moto {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

.short-msg {
    color: var(--dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
}

.primary-btn {
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(131, 104, 131);
    background: #F15B22;
    font-size: 25px;
}
/**main section desgin**/
.banner{
    padding: 300px 0 0 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-text{
    padding: 0 6rem;
}
.theme{
    width: 288px;
    flex-direction: column;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}